$anchor-length: 20px;

:host {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  position: absolute;
  background-color: white;

  &.position {
    &--top, &--bottom {
      left: 50%;
      transform: translateX(-50%);
    }

    &--right, &--left {
      top: 50%;
      transform: translateY(-50%);
    }

    &--bottom {
      top: calc(100% + $anchor-length);
    }

    &--top {
      bottom: calc(100% + $anchor-length);
    }

    &--right {
      left: calc(100% + $anchor-length);
    }

    &--left {
      right: calc(100% + $anchor-length);
    }
  }

  &.anchor {
    $anchor-overlap: -($anchor-length / 2 + 1);

    &--top, &--right, &--bottom, &--left {
      &::after {
        content: '';
        width: $anchor-length;
        height: $anchor-length;
        position: absolute;
        border: 1px solid grey;
        border-bottom-style: none;
        border-right-style: none;
        background-color: white;
      }
    }

    &--top::after, &--bottom::after {
      right: 50%;
    }

    &--right::after, &--left::after {
      bottom: 50%;
    }

    &--top::after {
      top: $anchor-overlap;
      transform: translateX(50%) rotate(45deg);
    }

    &--right::after {
      right: $anchor-overlap;
      transform: translateY(50%) rotate(135deg);
    }

    &--bottom::after {
      bottom: $anchor-overlap;
      transform: translateX(50%) rotate(225deg);
    }

    &--left::after {
      left: $anchor-overlap;
      transform: translateY(50%) rotate(315deg);
    }
  }
}
